.container{
    border: solid black;
    display:flex;
    width:fit-content;
    min-height: 500px;
    flex-direction: column;
    row-gap: 10px;
}

.searchBox{
    margin-left: 0;
    margin-right: auto;
    display: grid;
    grid-auto-flow: column;
    column-gap: 5px;
}

.spiceSlots{
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 80%;
    min-height: 200px;
    border: solid black;
    gap: 5px;
}

.spiceSlotItem{
    font-size: 16px;
    width: 50%;
    height: 16px;
    border: solid black;
    background-color: grey;
}